# Set environment variables for deployment

DATABASE__PROTOCOL=
DATABASE__HOST=
DATABASE__PORT=
DATABASE__USERNAME=
DATABASE__PASSWORD=
DATABASE__DATABASE=

MINIO__ENDPOINT=storage
MINIO__ACCESS_KEY=minioadmin
MINIO__SECRET_KEY=minioadmin
MINIO__BUCKET=sansetto
MINIO__SECURE=false

TELEGRAM__BOT_TOKEN=
TELEGRAM__CHANNEL_ID=

PUBLISHER__FILENAME_FMT=
