<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sansetto - Image Uploader</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
</head>
<body data-bs-theme="dark">
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid  justify-content-center">
        <a class="navbar-brand d-flex" href="/">Sansetto</a>
    </div>
</nav>
<div class="container mt-5">
    <p class="fs-2 text-center">Welcome to the Sansetto Bot application!</p>

    <h1 class="mb-4">Images Upload</h1>

    <form action="{{ url_for('views.upload_images') }}" method="post" enctype="multipart/form-data" class="col-6 mb-3"
          id="images-upload-form">
        <div class="mb-3">
            <label for="imageFilesInput" class="form-label">Images</label>
            <input type="file" name="images[]" accept="image/*" multiple class="form-control" id="imageFilesInput"
                   aria-describedby="filesHelp" required>
            <div id="filesHelp" class="form-text">You can upload multiple images</div>
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>

    <div id="upload-info" style="visibility: hidden">
        <p id="upload-status"></p>
        <div class="progress">
            <div class="progress-bar bg-success" id="upload-progress-bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-label="Basic example"
                 aria-valuemax="100"></div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
